.uploader {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    background-image: linear-gradient(to right, #45aad6, #194896);
    box-shadow: 0px 2px 10px #80808040;
    cursor: pointer;
    position: relative;
}

.uploader span {
    background: #fff9c8;
    width: 100px;
    display: block;
    padding: 4px 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    font-size: 14px;
    color: #1c4795;
    position: absolute;
    bottom: 0;
    z-index: 999;
}

.uploader input {
    display: none;
}
